---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-login-cred
  namespace: {{ NAMESPACE }}
data:
  username: {{ USERNAME }}
  password: {{ PASSWORD }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-bucket-cred
  namespace: {{ NAMESPACE }}
data:
  bucket.json: |
      {{ BUCKET_CREDENTIAL }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-tls
  namespace: {{ NAMESPACE }}
data:
  tls.crt: |
      {{ "google_storage:de:th0r:wildcard:bundle.pem" | get_pillar("*") | base64_encode }}
  tls.key: |
      {{ "google_storage:de:th0r:wildcard:key.pem" | get_pillar("*") | base64_encode}}
