---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-login-cred
  namespace: {{ NAMESPACE }}
data:
  username: {{ USERNAME }}
  password: {{ PASSWORD }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ DEPLOYMENT_NAME }}-bucket-cred
  namespace: {{ NAMESPACE }}
data:
  bucket.json: |
      {{ BUCKET_CREDENTIAL }}